{% extends 'base.html' %}

{% block title %}TSA Line Predictior | Calculator{% endblock title %}

{% block content %}
<div class="flex flex-row items-center justify-center mx-auto my-auto m-4 w-full flex-grow">
    <form class="p-8 bg-gradient-to-tr from-indigo-400 to-blue-600
                 flex flex-col
                 justify-between gap-8 w-fill items-center
                 rounded-lg" action={% url 'agent' %} method="post">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        {% csrf_token %}
        <h2 class="text-4xl pb-12">Select Airport, Date, &amp; Time</h2>
        <div class="p-3">
            {{ form.ap.as_field_group }}
        </div>

        <div>
            {{ form.date.as_field_group }}
        </div>
        <div>
            {{ form.num_agents.as_field_group}}
        </div>
        <input class="transition ease-in-out border-2
                      border-white hover:border-blue-300
                      hover:scale-110
                      rounded-full py-1 px-8 duration 200" type="submit" value="Continue">

        <div class="hover:scale-110 hover:border-blue-300
                    transition ease-in-out duration 200
                    border-2 border-white rounded-full
                    ">
            <a href="{% url 'home' %}"
               class="rounded-full hover:scale-110
                     px-8 py-4">Back
            </a>
        </div>

        {% load static %}
        <script src={% static '/predictor/selection.js' %}></script>
    </form>
</div>
{% endblock content %}
</html>
