<!doctype html>
{% extends "base.html" %}

{% block title %}TSA Line Predictor | Authenticate{% endblock title %}

{% block content %}
  <div class="login-container">
    <h2>Login</h2>

    <form method="post" id="login-form" action="{% url 'auth' %}">
      {% csrf_token %}
      <fieldset class="flex items-center">
        <div class="fieldWrapper">
          {{ form.agent_id.as_field_group }}
        </div>
        <div class="fieldWrapper">
          {{ form.agent_password.as_field_group }}
        </div>
        <input type="hidden" name="next" value="{{request.GET.next}}">
        <input id="submit" type="submit" value="Log In">
      </fieldset>
      {{ form.non_field_errors }}
    </form>

  <button id="redirect" type="button">Go Back</button>
{% endblock content %}
