<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TSA Line Predictior | Calculator</title>
    <meta name="description" content="The main calculator of the TLP">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
<h1>TSA Line Predictor</h1>
<form action={% url 'user' %} method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Submit">
</form>
</body>

</html>
